@import '../../assets/styles/main.scss';

$btn-background-corol: #d3c52a;

.panel {
    height: 100%;
    background-color: #222935;
}

.panel_button {
    &:hover {
        background-color: #c15726;
    }
}