.main-content {
    max-width: 1280px;
    padding: 16px 16px;
    margin: 0px auto;
    display: block;
}

.sidebar {
    height: 100%;
    width: 150px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.sidebar-button {
    display: 'inline-block';
    position: fixed;
    left: 200px;
    top: 10px;
    height: 15px;
    width: 15px;
    padding: 8px 10px 10px 10px;
    z-index: 4;
}

.openMain {
    margin-left: 200px;
}

.openBar {
    display: block;
    z-index: 2;
    width: 200px;
}

.closedMain {
    margin-left: 0;
}

.closedBar {
    display: none;
    z-index: 2;
    width: 200px;
}

.closedButton {
    left: 0;
}

@media (max-width: 600px) {
    .openBar {
        width: 54px;
    }
    .openMain {
        margin-left: 54px;
    }
    .sidebar-button {
        left: 54px; 
    }
    .closedButton {
        left: 0;
    }
}