@import '../../assets/styles/main.scss';

.photoBox {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

    &-avatar {
        margin-top: 20px;
    }

    &-title {
        font-family: cv-app-Home;
        font-size: 26px;
        color: #fff;
        margin-top: 0;
    }
    
    &-info {
        font-family: cv-app-Home-info;
        font-size: 14px;
        color: #fff;
        margin-top: -20px;
        text-align: center;
        line-height: 21px;
        font-weight: 400;
        width: 70%;
    }
}

.photoBox_name {
    font-family: cv-app-medium;
    color: #fff;
    margin-top: 10px;
}