@import '../../assets/styles/main.scss';
    
.button {
    display: inline-block;
    background-color: #222935;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: #26c17e;
    }
}