.expertise_list {
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &-date {
    width: 160px;
    margin-right: 20px;

    span {
      color: #667081;
      font-size: 16px;
    }
  }

  &-info {
    h3 {
      // NEED ADD FONT FACE
      font: 700 16px/19px 'Open Sans', sans-serif;
      margin-bottom: 10px;
    }
  }

}