@import '../../assets/styles/main.scss';

.address-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    
    &_icon {
        flex: 0 0 30px;
        height: 30px;
        font-size: 18px;
        color: #26c17e;
    }
    
    &_data {
        flex: 0 0 calc(100% - 30px);

        a:not(.cv-app-link) {
            text-decoration: none;
            font-family: cv-app-Bold;
            color: #222935;
        }
    }
}

.cv-app-link {
    text-decoration: none;
    color: #222935; 
}