.home {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        z-index: 1;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        z-index: 2;
    }
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

