@import '../../assets/styles/main.scss';

.navigation_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;

    .navigation_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 18px 20px;
        gap: 10px;
        .navigation_link{
            color: #667081;
            .navigation_link__text {
                margin-left: 30px;
            }
        }

        &:hover>.navigation_link {
            color: #26c17e;
        }

        a {
            text-decoration: none;
        }
    }
}

.active {
    color: #26c17e;
}