.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    &_text {
        flex: 0 0 100%;
    }
}

.reporter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin: 10px;

    &_photo {
        margin: 10px;
    }

    &_cite {
        margin: 10px;
        a {
            text-decoration: none;
            color: #26C17E;
        }
    }
}