$open-sans-font-path: "../fonts/OpenSans/";

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Italic.ttf") format("truetype");
    font-family: 'cv-app-italic';
    font-weight: 100;
}

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Medium.ttf") format("truetype");
    font-family: 'cv-app-medium';
    font-weight: 100;
}

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Bold.ttf") format("truetype");
    font-family: 'cv-app-Bold';
}

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Regular.ttf") format("truetype");
    font-family: 'cv-app-Home';
    font-weight: 600;
}

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Regular.ttf") format("truetype");
    font-family: 'cv-app-Home-info';
}

@font-face {
    src: url("#{$open-sans-font-path}/OpenSans-Bold.ttf") format("truetype");
    font-family: 'cv-app-portfolio-info-title';
    font-weight: 700;
}